<!DOCTYPE html>
html(lang="ru")
	head
		include modules/head.jade
	body
		include modules/header.jade

		.container-fluid
			.row.justify-content-center
				.col-12.col-md-12.col-lg-10.col-xl-8
					.faq-block
						.faq-row
							.faq-title
								h2 На телефон не приходит SMS с кодом?
								a(href="").faq-close
									i.fa.fa-times(aria-hidden="true")
							.faq-body
								p Если Вы не получили SMS  с кодом в течение 10 минут, попробуйте выключить телефон и включить его снова. Если это не помогло, проверьте настройки телефона и баланс. Далее в форме заявки нажмите кнопку «Повторить отправку». Если код по SMS снова не придет, напишите нам на почту money@mail.ru
						.faq-row
							.faq-title
								h2 В какое время я могу получить займ?
								a(href="").faq-close
									i.fa.fa-times(aria-hidden="true")
							.faq-body
								p Если Вы не получили SMS  с кодом в течение 10 минут, попробуйте выключить телефон и включить его снова. Если это не помогло, проверьте настройки телефона и баланс. Далее в форме заявки нажмите кнопку «Повторить отправку». Если код по SMS снова не придет, напишите нам на почту money@mail.ru
						.faq-row
							.faq-title
								h2 В какое время я могу получить займ?
								a(href="").faq-close
									i.fa.fa-times(aria-hidden="true")
							.faq-body
								p Если Вы не получили SMS  с кодом в течение 10 минут, попробуйте выключить телефон и включить его снова. Если это не помогло, проверьте настройки телефона и баланс. Далее в форме заявки нажмите кнопку «Повторить отправку». Если код по SMS снова не придет, напишите нам на почту money@mail.ru
						.faq-row
							.faq-title
								h2 Могу ли я подать заявление на предоставление займа по телефону?
								a(href="").faq-close
									i.fa.fa-times(aria-hidden="true")
							.faq-body
								p Если Вы не получили SMS  с кодом в течение 10 минут, попробуйте выключить телефон и включить его снова. Если это не помогло, проверьте настройки телефона и баланс. Далее в форме заявки нажмите кнопку «Повторить отправку». Если код по SMS снова не придет, напишите нам на почту money@mail.ru
						.faq-row
							.faq-title
								h2 Могу ли я получить займ на большую сумму с меньшим процентом после своевременного погашения первого РубльЗайма?
								a(href="").faq-close
									i.fa.fa-times(aria-hidden="true")
							.faq-body
								p Если Вы не получили SMS  с кодом в течение 10 минут, попробуйте выключить телефон и включить его снова. Если это не помогло, проверьте настройки телефона и баланс. Далее в форме заявки нажмите кнопку «Повторить отправку». Если код по SMS снова не придет, напишите нам на почту money@mail.ru

		include modules/footer.jade
		//- Скрипты страницы
		include modules/scripts.jade