<!DOCTYPE html>
html(lang="ru")
	head
		include modules/head.jade
	body
		include modules/header.jade

		.container-fluid
			.row.justify-content-center
				.col-12.col-md-10.col-lg-10.col-xl-9
					.row
						.col-12.col-md-12.col-lg-5.col-xl-4.order-1.order-md-1.order-lg-2
							.text-menu
								ul
									li
										a(href="") Учредители общества
									li
										a(href="") Общие условия договора потребительского микрозайма с ООО МКК «МЕРИДИАН»
									li
										a(href="") Договор потребительского займа для физического лица
									li
										a(href="") Информация об условиях предоставления, использования и возврата потребительского микрозайма микрокредитной организации ООО МКК «МЕРИДИАН»
									li
										a(href="") Правила предоставления ООО МКК «МЕРИДИАН» микрозаймов физическим лицам
									li
										a(href="") Согласие на обработку персональных данных
									li
										a(href="") Политика МКК
									li
										a(href="") Правила оплаты банковской картой
						.col-12.col-md-12.col-lg-7.col-xl-8.order-2.order-md-2.order-lg-1
							.text-block
								h1 Правовая поддержка
								h2 H2_Учередители общества
								p Рекова Ольга Константиновна, г. Москва, #[br]генеральный директор АО «АНГРА».
								h3 H3_Глава 1. Общие положения
								ol
									li Настоящие ОУ предназначены для многократного использования и распространяются на все Договоры, заключенные с Заемщиками.
									li Подписание Заемщиком ИУ означает принятие ОУ полностью и согласие со всеми их положениями. Любые оговорки, изменяющие или уточняющие ОУ, которые могут быть сделаны Заемщиком при заключении Договора, не имеют юридической силы.
									li Заключая Договор, Заемщик подтверждает свое согласие с условиями предоставления, использования, возврата займа, начисления процентов по нему, сроками и размерами платежей, а также с тем, что данная информация была предоставлена Заемщику в полном объеме до заключения Договора. Заемщик подтверждает, что ему известно и понятно, что в случае заключения Договора, он обязуется исполнять должным образом и соблюдать все положения Договора, составными и неотъемлемыми частями которого являются ОУ и ИУ.
									li Заемщик и Кредитор согласились установить следующие способы взаимодействия:
										ol
											li размещение информации на стендах в местах обслуживания клиентов Кредитора;
											li размещение информации на сайте Кредитора в сети Интернет www.money-live.ru;
											li почтовые отправления;
											li личные встречи, в том числе в офисе Кредитора;
											li телефонные переговоры;
											li телеграфные сообщения, текстовые, голосовые и иные сообщения, передаваемые по сетям электросвязи, в том числе подвижной радиотелефонной связи.
									li Заемщик выражает свое безусловное согласие на получение от Кредитора в течение срока действия Договора информации о Договоре, наличии задолженности по Договору, а также иной информации, касающейся исполнения Договора, посредством почтовой и/или телефонной связи, сообщений, передаваемых на номера телефонов Заемщика, указанных в Анкете-Заявлении, иных документах или сообщенных Заемщиком впоследствии.
									li Настоящим Заемщик и Кредитор выражают свое согласие на применение Кредитором аналога собственноручной подписи (далее - «АСП») при подписании Договора (включая его неотъемлемые части), а также любых иных документов, связанных с возникновением, изменением и/или прекращением правоотношений между Заемщиком и Кредитором.
								p Под АСП понимается графическое воспроизведение собственноручной подписи уполномоченного сотрудника Кредитора. Заемщик и Кредитор настоящим соглашаются признавать документы, подписанные АСП Кредитора, равнозначными документам, подписанным собственноручной подписью уполномоченного лица Кредитора, и принимают на себя исполнение всех обязательств, вытекающих из документов, подписанных собственноручной подписью Заемщика и АСП Кредитора.
								table
									tr
										td Наименование организации
										td микрокредитная компания ООО МКК «МЕРИДИАН»
									tr
										td ОГРН
										td 5107746042355
									tr
										td Место нахождения исполнительного органа
										td 115054, г. Москва, ул. Щипок д. 18, стр. 1



		include modules/footer.jade
		//- Скрипты страницы
		include modules/scripts.jade