.footer-height
footer
	.container-fluid
		.row
			.col.col-xl-6.col-md-12.col-12.col-lg-6
				span Проектирование и дизайн #[a(href="http://chipsa.ru", target="_blank") «Чипса»], 2017
			.col.col-xl-6.col-md-12.col-12.col-lg-6
				a(href="http://www.cbr.ru/finmarkets/" target="_blank") Государственный реестр микрофинансовых организаций