script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAE8iqwKY6PeKvryHYgM_k7cbH9ZyKk5g" async defer)
script(src="https://use.fontawesome.com/856283dff2.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.mask.min.js")
script(src="js/jquery.mCustomScrollbar.concat.min.js")
script(src="js/ion.rangeSlider.min.js")
script(src="js/bootstrap.min.js")
script(src="js/app.js")